.why-book-container{
    background-color: white;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

.adventure-world{
    color: rgb(58, 130, 175);
    font-weight: 600;
}